.env
backend/.env
frontend/.env

frontend/node_modules/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

backend/bootstrap/cache/

*.backup
*.restore_tmp

*.log
*.tmp

!backend/storage/**

.DS_Store
Thumbs.db

.idea/
.vscode/
